.open {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url('./images/bg.png');
    background-size: 100% 100%;
    font-size: 30px;
}
.grabImg {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    .grabContent {
        width: 28%;
        padding-top: 20px;
        .content_img {
            .span1w {
                position: absolute;
                margin-top: 9.5%;
                margin-left: -22%;
                transform: rotate(-30deg);
                font-size: 26px;
                font-weight: bold;
                color: #FEFFA7;
                font-family: "Arial"
            }
            .span10w {
                position: absolute;
                margin-top: 10.5%;
                margin-left: -23.5%;
                transform: rotate(-30deg);
                font-size: 24px;
                font-weight: bold;
                color: #FEFFA7;
                font-family: "Arial"
            }
            .span100w {
                position: absolute;
                margin-top: 11.5%;
                margin-left: -24%;
                transform: rotate(-30deg);
                font-size: 20px;
                font-weight: bold;
                color: #FEFFA7;
                font-family: "Arial"
            }
        }
        .content_text {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #FEFFA7;
            font-size: 14px;
            border:1px solid #FEFFA7;
            border-radius: 6px;
            margin-top: 5px
        }
    }
}