.ant-menu-dark.ant-menu-horizontal > .ant-menu-item, .ant-menu-dark.ant-menu-horizontal > .ant-menu-submenu {
    top: 0;
    margin-top: 0;
    padding: 0 20px;
    border-color: #001529;
    border-bottom: 0;
    width: 25%;
    background-color: #ffffff;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
    // FF0000
    background-color: #ffffff;
}
.ant-menu-dark.ant-menu-horizontal > .ant-menu-item:hover {
    background-color: #ffffff;
}
.img_and_title {
    color: #BD1A0D;
    font-size: 8px;
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
        width: 25px;
        height: 25px;
    }
}