.container{
    width: 125px;
    margin: 50px;
    padding: 10px;
    // border: 1px solid purple;
}
.ant-upload.ant-upload-select-picture-card {
    width: 400px;
    height: 400px;
}
.ant-upload-list-picture-card-container {
    width: 400px;
    height: 400px;
}