.grab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url('./images/bg.png');
    background-size: 100% 100%;
    font-size: 30px;
}
.grabImg {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    .grabContent {
        width: 28%;
        padding-top: 20px;
        .content_img {
            .span1w {
                position: absolute;
                margin-top: 9.5%;
                margin-left: -22%;
                transform: rotate(-30deg);
                font-size: 26px;
                font-weight: bold;
                color: #FEFFA7;
                font-family: "Arial"
            }
            .span10w {
                position: absolute;
                margin-top: 10.5%;
                margin-left: -23.5%;
                transform: rotate(-30deg);
                font-size: 24px;
                font-weight: bold;
                color: #FEFFA7;
                font-family: "Arial"
            }
            .span100w {
                position: absolute;
                margin-top: 11.5%;
                margin-left: -24%;
                transform: rotate(-30deg);
                font-size: 20px;
                font-weight: bold;
                color: #FEFFA7;
                font-family: "Arial"
            }
        }
        .content_text {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #FEFFA7;
            font-size: 14px;
            border:1px solid #FEFFA7;
            border-radius: 6px;
            margin-top: 5px
        }
    }
}
.img_show {
    position: absolute;
    width: 100%;
    height: 100%;
    &_outer {
        background-color: #1B1B1B;
        opacity:0.6;
        position: absolute;
        width: 100%;
        height: 100%;
    }
    &_content {
        position: absolute;
        top: 25%;
        left: 15%;
        height: 40%;
        width: 70%;
        display: flex;
        flex-direction: column;
        background-image: url('./images/goOpen.png');
        background-size: 100% 100%;
        &_top {
            height: 82%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 40%;
            font-size: 17px;
            color: #FEFFA7;
        }
        &_bottom {
            height: 18%;
            display: flex;
            justify-content: center;
            font-size: 15px;
            color: #FF0000;
        }
    }
}
.rechange_show {
    position: absolute;
    width: 100%;
    height: 100%;
    &_outer {
        background-color: #1B1B1B;
        opacity:0.6;
        position: absolute;
        width: 100%;
        height: 100%;
    }
    &_content {
        position: absolute;
        top: 35%;
        left: 15%;
        height: 30%;
        width: 70%;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        border-radius: 8px;
        &_top {
            height: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid #E5E5E5;
        }
        &_middle {
            height: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            span {
                font-size: 17px;
                font-weight: bold;
            }
        }
        &_bottom {
            height: 30%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            font-size: 20px;
            .bottom_content {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
@media screen and (min-width: 750px) {
    .grabImg .grabContent .content_img .span1w {
        margin-top: 8%;
        margin-left: -14.5%;
    }
    .grabImg .grabContent .content_img .span10w {
        margin-top: 9%;
        margin-left: -15%;
    }
    .grabImg .grabContent .content_img .span100w {
        margin-top: 9%;
        margin-left: -15%;
    }
}
@media screen and (min-width: 950px) {
    .grabImg .grabContent .content_img .span1w {
        margin-top: 7%;
        margin-left: -12%;
    }
    .grabImg .grabContent .content_img .span10w {
        margin-top: 7%;
        margin-left: -13%;
    }
    .grabImg .grabContent .content_img .span100w {
        margin-top: 7%;
        margin-left: -13%;
    }
}

@media screen and (min-width: 1110px) {
    .grabImg .grabContent .content_img .span1w {
        margin-top: 4.6%;
        margin-left: -8.5%;
    }
    .grabImg .grabContent .content_img .span10w {
        margin-top: 5%;
        margin-left: -8.7%;
    }
    .grabImg .grabContent .content_img .span100w {
        margin-top: 5%;
        margin-left: -8.7%;
    }
}